node_modules/
dist/   
.env
coverage/
logs/
npm-debug.log
yarn-debug.log
yarn-error.log  
.idea/
.vscode/
*.log
*.tsbuildinfo
*.tsbuildinfo
*.cache
*.swp
*.DS_Store
.eslintcache
.turbo/
.cache/
.next/
.parcel-cache/

